# Compiled executables
*.out
*.exe
*.o

docs/

# C++ outputs built next to sources in basics/
basics/*
!basics/*.cpp

# data-structures/
data-structures/*
!data-structures/*.cpp

# tracking/
tracking/*
!tracking/*.cpp
!tracking/*.hpp
!tracking/*.mkd

# Mac system files
.DS_Store

# Build directories
build/

# VS Code settings (optional)
.vscode/

# CMake (for later)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore specific executables in perception_pipeline (no extension)
perception_pipeline/executables
perception_pipeline/frames/tmp